<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allow Users</title>
    <style>
        .dashboard {
            width: 80%;
            margin: 0 auto;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#select-all").click(function () {
                $("input[type=checkbox]").prop('checked', this.checked);
            });

            $("tr[data-url]").click(function (e) {
                if (!$(e.target).is("input, a")) {  // 클릭한 대상이 체크박스나 링크가 아닐 경우에만
                    var url = $(this).data("url");
                    window.location.href = url;
                }
            });
        });
    </script>
    <form action="{% url 'management:all' %}" method="POST">
        {% csrf_token %}
        <div class="dashboard">
            <input type="text" placeholder="..." style="width:100%;">
            <button type="submit">검색</button>
            <br><br>
            <button type="submit">선택된 항목 활성화</button>
            <br><br>
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all"></th>
                        <th>Index</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>활성화</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr data-url="{% url 'management:reject_detail' item.id %}" style="cursor: pointer;">
                        <td><input type="checkbox" name="selected_items" value="{{ item.id }}"></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td>
                            <a href="{% url 'management:reject_active' item.id %}" class="active-btn">활성화</a>
                            {% comment %} <a href="" class="delete-btn">삭제</a> {% endcomment %}
                            {% comment %} <a href="{% url 'management:reject_user' item.id %}" class="reject-btn">거부</a> {% endcomment %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>
